<html>
<head>

    <title>UICore application</title>
    <meta name="title" content="UICore application">
    <meta name="description" content="This is an application that was built using UICore.">

    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">

</head>

<body>

<link rel="stylesheet" type="text/css" href="styles.css">
<link href="//fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;display=swap&amp;subset=cyrillic-ext,latin-ext"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Saira+Condensed:100,200,300,400,500,600,700,800,900"
      rel="stylesheet">


<div id="RootView" class="UICore_UIView_UIView">
    <div id="TopBarView" class="UICore_UIView_TopBarView TopBarView"
         style="position: absolute;margin: 0px;background-color: white;border-style: solid;border-color: rgb(35, 35, 35);border-width: 0px 0px 1px;font-size: 15pt;z-index: 10;transform: translate3d(0px, 0px, 0px);height: 65px;width: 100%;">


        <img id="TopBarLogoImageView" src="images/must_beta.png" class="UICore_UIView_UIImageView"
             style="position: absolute;object-fit: scale-down;visibility: visible;opacity: 0.87;cursor: pointer;height: 55%;width: unset;top: 50%;transform: translateY(-50%);left: 10px;">
    </div>
    <div id="RootViewBackgroundView" class="UICore_UIView_UIView"
         style="position: relative;text-align: center;margin: 0px;background: linear-gradient(rgb(52, 127, 230), rgb(52, 127, 230));top: 65px;width: 100%;height: fit-content;min-height: 500px;">
        <div id="mainView" class="UICore_UIView_UIView"
             style="position: relative;display: inline-block;padding: 20px;text-align: center;background-color: white;bottom: 0px;top: 70px;width: 100%;max-width: 1000px;height: 300px;box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px 0px;">

            <h1 id="IntroductionViewTitleLabel"
                style="overflow: hidden;text-overflow: ellipsis;white-space: pre-wrap;color: rgb(35, 35, 35);"
                class="UICore_UIView_t"> Browser not supported </h1>
            Please use a more recent browser

        </div>
    </div>
    <div id="BottomBarView" style="position: relative;background-color: rgb(50, 50, 50);height: 293px;width: 100%;"
         class="UICore_UIView_t">
        <div style="
    background-color: rgb(50, 50, 50);
">
            <div style="
    padding: 20px;
    width: 100%;
    max-width: 700px;
    position: center;
    margin: auto;
">


            </div>
        </div>
    </div>

</div>


</body>

</html>






